<div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
        <div class="col-md-12" >
            <div class="card-pf card-pf-view ">
                <div class="card-pf-body">
                    <select ng-model="vm.selectedCache" ng-options="cache.name for cache in vm.cacheInfo" ng-change="vm.update()"></select>
                </div>
                <div class="card-pf-body">
                    <graph></graph>
                </div>
            </div>
        </div>
    </div>
</div>